<div id="bg3">
  <div id="icons">
  <img id="img1" class="pull-left" src="/assets/images/tata-motors.png" >
  <img id="img2" class="pull-right" src="/assets/images/TATA-logo.png" >
  </div>
  <div class="navig">
    <p class=" text left "><a (click)="clickCount('features')" [routerLink]="['/page2',userid]">FEATURES</a></p>
    <p class=" text center selected"><a (click)="clickCount('watchvideo')" class="act" [routerLink]="['/page3',userid]" >WATCH VIDEO</a></p>
    <p class=" text right"><a (click)="clickCount('testdrive')" [routerLink]="['/page4',userid]" >BOOK A TEST DRIVE</a></p>
  </div>
  <div id="p3body">
    <section class="panel pan">
    <youtube-player
    width="100%"
    height="100%"
            [videoId]="id" 
            (ready)="savePlayer($event)"
            (change)="onStateChange($event)"
          >
          </youtube-player>
    </section>
  </div>
  <div class="foot">
      <img class="pull-left foot1" src="/assets/images/dimo.png">
      <p class="xs-white" >*CONDITIONS APPLY*</p>
      <img class="pull-right foot2" src="/assets/images/ULTRA-02.png">
  </div>
</div>