<div id="bg2">
  <div id="icons">
  <img id="img1" class="pull-left" src="../assets/images/tata-motors.png" >
  <img id="img2" class="pull-right" src="../assets/images/TATA-logo.png" >
  </div>
  <div class="navig">
    <p class=" text left selected"><a (click)="clickCount('features')" class="act" [routerLink]="['../../page2',userid]" >FEATURES</a></p>
    <p class=" text center"><a (click)="clickCount('watchvideo')" [routerLink]="['../../page3',userid]" >WATCH VIDEO</a></p>
    <p class=" text right"><a (click)="clickCount('testdrive')" [routerLink]="['../../page4',userid]" >BOOK A TEST DRIVE</a></p>
  </div>
  <div id="p2body">
     <div id="truck">
       <img id="spot1" (click)="clickCount('hotspot1')" src="../assets/images/hotspot.png" data-toggle="modal" data-target=".model1" >
      

<!-- Modal -->
<div class="modal fade custmodel model1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div role="document">
      <button type="button" class="cust-close close" data-dismiss="modal" aria-label="Close">
          <span class="close-span" aria-hidden="true">&times;</span> CLOSE
        </button>
      <div>
        <img class="modal-img" src="../assets/images/Pic-01.jpg" >
        <h5 class="md-orange">NEW GENERATION CLEAR LENS HEADLAMP</h5>
        <p class="sm-grey" >
          The lamps help give the truck a stylish appeal while ensuring better 
          visibility for the driver.
        </p>
      </div>
  </div>
</div>
       <img id="spot2" (click)="clickCount('hotspot2')" src="../assets/images/hotspot.png" data-toggle="modal" data-target=".model2" >
       <!-- Modal -->
<div class="modal fade custmodel model2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div role="document">
      <button type="button" class="cust-close close" data-dismiss="modal" aria-label="Close">
          <span class="close-span" aria-hidden="true">&times;</span> CLOSE
        </button>
      <div>
        <img class="modal-img" src="../assets/images/Pic-01.jpg" >
        <h5 class="md-orange">NEW GENERATION CLEAR LENS HEADLAMP</h5>
        <p class="sm-grey" >
          The lamps help give the truck a stylish appeal while ensuring better 
          visibility for the driver.
        </p>
      </div>
  </div>
</div>
       <img id="spot3" (click)="clickCount('hotspot3')" src="../assets/images/hotspot.png"  data-toggle="modal" data-target=".model3" >
      <!-- Modal -->
<div class="modal fade custmodel model3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div role="document">
      <button type="button" class="cust-close close" data-dismiss="modal" aria-label="Close">
          <span class="close-span" aria-hidden="true">&times;</span> CLOSE
        </button>
      <div>
        <img class="modal-img" src="../assets/images/Pic-01.jpg" >
        <h5 class="md-orange">NEW GENERATION CLEAR LENS HEADLAMP</h5>
        <p class="sm-grey" >
          The lamps help give the truck a stylish appeal while ensuring better 
          visibility for the driver.
        </p>
      </div>
  </div>
</div>
       <img id="spot4" (click)="clickCount('hotspot4')" src="../assets/images/hotspot.png"  data-toggle="modal" data-target=".model4" >
      <!-- Modal -->
<div class="modal fade custmodel model4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div role="document">
      <button type="button" class="cust-close close" data-dismiss="modal" aria-label="Close">
          <span class="close-span" aria-hidden="true">&times;</span> CLOSE
        </button>
      <div>
        <img class="modal-img" src="../assets/images/Pic-01.jpg" >
        <h5 class="md-orange">NEW GENERATION CLEAR LENS HEADLAMP</h5>
        <p class="sm-grey" >
          The lamps help give the truck a stylish appeal while ensuring better 
          visibility for the driver.
        </p>
      </div>
  </div>
</div>
       <img id="spot5" (click)="clickCount('hotspot5')" src="../assets/images/hotspot.png"  data-toggle="modal" data-target=".model5" >
     <!-- Modal -->
<div class="modal fade custmodel model5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div role="document">
      <button type="button" class="cust-close close" data-dismiss="modal" aria-label="Close">
          <span class="close-span" aria-hidden="true">&times;</span> CLOSE
        </button>
      <div>
        <img class="modal-img" src="../assets/images/Pic-01.jpg" >
        <h5 class="md-orange">NEW GENERATION CLEAR LENS HEADLAMP</h5>
        <p class="sm-grey" >
          The lamps help give the truck a stylish appeal while ensuring better 
          visibility for the driver.
        </p>
      </div>
  </div>
</div>
     </div>
  </div>
  <div class="foot">
      <img class="pull-left foot1" src="../assets/images/dimo.png">
      <p class="xs-white" >*CONDITIONS APPLY*</p>
      <img class="pull-right foot2" src="../assets/images/ULTRA-02.png">
  </div>
</div>